<div class="sheet-container">
  <table class="sheet">
    <colgroup>
      <col style="width: 40px">
      <col ng-repeat="column in columns track by column" style="width: {{columnWidths[$index]}}px">
    </colgroup>
    <thead ng-if="columns">
      <th></th>
      <th ng-repeat="column in columns track by column"><span>{{column}}</span></th>
    </thead>
    <tbody> 
      <tr ng-repeat="row in sheetModel" ng-init="$rowIndex = $index;"
          style="height: {{rowHeights[$index]}}px">
        <td class="row-header"><span>{{$rowIndex + 1}}</span></td>
        <td ng-repeat="cell in row track by $index"
            singleclick="selectCell($rowIndex, $index)"
            ng-dblclick="editCell($rowIndex, $index)"
            class="cell">
          {{cell.formula}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="sheet-cursor" ng-show="current && (current.row || current.row == 0)" 
       ng-dblclick="editCell(current.row, current.column)">
    <input class="sheet-edit-box"
           type="text" ng-model="sheetModel[current.row][current.column].formula"
           style="width: 100%; height:100%"
           ng-if="editMode">
  </div>
</div>
